.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 3%;
}

.header-container a{
    color: white;
    text-decoration: none;
    margin: 5px;
}